@font-face {font-family: "symphonic"; src: url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.eot");
    src:url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.svg#symphonic") format("svg"); }


        
 * {
      margin: 0;
      padding: 0;
}

body{
    background-color: rgb(22, 22, 22);  
}


html{
    scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

footer{
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-bottom: -50px;
  flex: 0 0 auto;
}


.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}



/* menu */
#navbar {
    background-color: rgb(32, 32, 32);
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    margin-left: -2px;
  }
  
  #navbar a {

    color: #ffffff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  #navbar a:hover {
    background-color: rgb(109, 0, 0);
    color: rgb(255, 255, 255);
    
  }
  
  .nav-left, .nav-right{
    display: flex;
  }



/* text */
h1 {
    font-family: 'Symphonic', sans-serif;
    font-size: 60px;
    color: rgb(209, 0, 0) ;
    text-align: center;
    margin-top: 10px;
    padding: 10px 10px;
    position: static;
}


h2{
  font-family: 'Symphonic', sans-serif;
  font-size: 2.5em;
  padding: 10px 40px;
  border-radius: 3px 3px 0 0 ;
  background-color: #c90000;
  color: #000000;
  position: static;
  height: 50px;
}

p{
  font-family: Andale Mono, monospace;
  padding: 10px 10px;
  font-size: 30px;
  border-radius: 3px 3px 3px 3px;
  color: #c90000;

}




.icon{
  width: 50px;
  height: 40px;
  padding: 20px;
}


.main{
  position: relative;
  background: url('/img/ghotic.jpg') no-repeat center / cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-top: -10px;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 26, 0.8);
  z-index: -1;
}


.conteiner{
  display: flex;
  flex-direction: row;
  position: static;
  justify-content: space-evenly;
  margin: 1%;
}

.bg{
  position: relative;
  background: url('/img/ghotic1.jpg') no-repeat center / cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: 8em;
}

.bg::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 26, 0.8);
  z-index: -1;
}