@font-face {font-family: "symphonic"; src: url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.eot");
    src:url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/3d7f53936d72e1e20a3edba1eb907cf5.svg#symphonic") format("svg"); }


        
* {
  margin: 0;
  padding: 0;
}

body{
    background-color: rgb(22, 22, 22);  
}


html{
    scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}


footer{
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-bottom: -50px;
}


.wrapper {
  display: table;
  height: 100%;
}

.content {
  display: table-row;
  height: 100%;
}



/* menu */
#navbar {
    background-color: rgb(32, 32, 32);
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    margin-left: -2px;
  }
  
  #navbar a {

    color: #ffffff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  #navbar a:hover {
    background-color: rgb(109, 0, 0);
    color: rgb(255, 255, 255);
    
  }
  
  .nav-left, .nav-right{
    display: flex;
  }



/* text */
h1 {
    font-family: 'Symphonic', sans-serif;
    font-size: 60px;
    color: rgb(209, 0, 0) ;
    text-align: center;
    margin-top: 10px;
    z-index: 1;
    padding: 10px 10px;
}



.icon{
  width: 50px;
  height: 40px;
  padding: 20px;
}


.bg{
  position: relative;
  background: url('/img/ghotic.jpg') no-repeat center / cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-top: -10px;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 26, 0.8);
  z-index: -1;
}


.conteiner{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
}
